@charset "UTF-8";
.headerTitulo, .iconColumn {
  display: flex;
  justify-content: center;
  align-items: center; }

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite; }

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0; } }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  line-height: 1.5; }

/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Oleo Script Swash Caps', cursive; */
h2 {
  margin: 1em; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #fb8500; }

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cbe8 74%); }

p {
  font-size: 19px; }

footer {
  background-color: #4d4c4c;
  padding: 20px;
  text-align: center; }

.colorNaranja {
  color: #fb8500; }

.navColor {
  background-color: #f5bf99; }

/* Fondo Principal */
.parallax {
  background-image: url(https://agromagazine.com/wp-content/uploads/2019/07/helados-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 103vh;
  position: relative;
  display: flex;
  justify-content: center; }

.headerTitulo {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.575);
  -webkit-text-stroke: 1px black;
  word-spacing: 1em;
  font-weight: 400; }

/* Maquetado de la pagina index */
.empresaPar {
  width: 35vw;
  margin: 0 auto;
  text-align: justify;
  overflow: hidden; }

.empresaImg img {
  border-radius: 1.5em;
  width: 25vw;
  margin: 20px auto; }

/* Maquetado de la pagina sucursales */
.imgSuc {
  width: 100%;
  max-height: 400px; }

/* Maquetado de la pagina productos */
.productoImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.postre {
  display: grid;
  height: 100%;
  width: 100%; }

/* Maquetado de la pagina Contacto */
.iconContacto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 3em; }

.iconColumn {
  flex-direction: column;
  row-gap: 1em; }

/* Diseño de Logo + sus animaciones */
.bordeLogo {
  border-radius: 200px;
  height: 125px;
  margin-left: 30px; }

#logoMobile {
  display: none; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform; }
  .hvr-grow:hover,
  .hvr-grow :focus,
  .hvr-grow :active {
    transform: scale(1.1); }

/* Diseño Acordeon */
.acordion-colorMod {
  color: #000;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cbe8 74%); }

/* MediasQ */
@media screen and (max-width: 991px) {
  #collapseThree,
  #collapseTwo,
  #collapseOne {
    flex-direction: column; }
  nav a {
    display: none; }
  .parallax {
    height: 100vh; }
  #logoMobile {
    display: flex;
    align-items: center; }
  .bordeLogo {
    height: 250px;
    margin: 0 auto; }
  .headerTitulo {
    display: none; }
  .empresaPar {
    width: 80vw; }
  .empresaImg img {
    width: 55vw; }
  .postre {
    height: 100%;
    width: 100%; } }

@media screen and (max-width: 480px) {
  .productoImg {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .empresaImg img {
    width: 90vw; }
  .iconContacto {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    row-gap: 2em; } }
