* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    line-height: 1.5;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Oleo Script Swash Caps', cursive; */

h2 {
    margin: 1em;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        color: $color-principal;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cbe8 74%);
}

p {
    font-size: 19px;
}

footer {
    background-color: $color-footer;
    padding: 20px;
    text-align: center;
}

.colorNaranja {
    color: $color-principal;
}

.navColor {
    background-color: $color-navbar;
}

/* Fondo Principal */
.parallax {
    background-image: url(https://agromagazine.com/wp-content/uploads/2019/07/helados-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 103vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.headerTitulo {
    @extend %dflex;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.575);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    word-spacing: 1em;
    font-weight: 400;
}

/* Maquetado de la pagina index */
.empresaPar {
    @include contenedor($ancho, $mg-auto, $justificado);
    overflow: hidden;
}

.empresaImg img {
    border-radius: 1.5em;
    width: 25vw;
    margin: 20px auto;
}

/* Maquetado de la pagina sucursales */
.imgSuc {
    width: 100%;
    max-height: 400px;
}

/* Maquetado de la pagina productos */
.productoImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.postre {
    display: grid;
    height: 100%;
    width: 100%;
}

/* Maquetado de la pagina Contacto */
.iconContacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 3em;
}

.iconColumn {
    @extend %dflex;
    flex-direction: column;
    row-gap: 1em;
}

/* Diseño de Logo + sus animaciones */
.bordeLogo {
    border-radius: 200px;
    height: 125px;
    margin-left: 30px;
}

#logoMobile {
    display: map-get($logo , invisible);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;

    &:hover,
    :focus,
    :active {
        transform: scale(1.1);
    }
}

/* Diseño Acordeon */
.acordion-colorMod {
    color: #000;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cbe8 74%);
}

/* MediasQ */
@media screen and (max-width: 991px) {

    #collapseThree,
    #collapseTwo,
    #collapseOne {
        flex-direction: column;
    }

    nav a {
        display: none;
    }

    .parallax {
        height: 100vh;
    }

    #logoMobile {
        display: map-get($logo , visible);
        align-items: map-get($logo , centrado)
    }

    .bordeLogo {
        height: 250px;
        margin: 0 auto;
    }

    .headerTitulo {
        display: none;
    }

    .empresaPar {
        width: 80vw;
    }

    .empresaImg img {
        width: 55vw;
    }

    .postre {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width:480px) {

    .productoImg {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .empresaImg img {
        width: 90vw;
    }

    .iconContacto {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        row-gap: 2em;
    }
}