*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    line-height: 1.5;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Oleo Script Swash Caps', cursive; */

h2{
    margin: 1em;
}

a{
    text-decoration: none;
    color: #000;
    &:hover{
            color: $color-principal;
        }
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cbe8 74%);
}

p{
    font-size: 19px;
}

footer{
    background-color: $color-footer;
    padding:  20px;
    text-align: center;
}


.colorNaranja{
    color: $color-principal;
}

.navColor{
    background-color: $color-navbar;
}
/* Fondo Principal */
.parallax{
    background-image: url(https://agromagazine.com/wp-content/uploads/2019/07/helados-1.jpg);
   	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height: 103vh;
	position: relative;
    display: flex;
    justify-content: center;
}

.headerTitulo{
    display: flex;
    align-items: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.575);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    word-spacing: 1em;
    font-weight: 400;
}

/* Maquetado de la pagina index */
.empresaContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.empresaPar{
    width: 35vw;
    overflow: hidden;
    margin: 0 auto;
    text-align: justify;
}

.empresaImg img{
    border-radius: 1.5em;
    width: 368px;
    margin: 0 auto;
}

/* Maquetado de la pagina sucursales */
.imgSuc{
    width: 100%;
    max-height: 400px;
}

/* Maquetado de la pagina productos */
.productoImg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.postre{
    display: grid;
    height: 100%;
    width: 100%;
}

/* Maquetado de la pagina Contacto */
.iconContacto{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-bottom: 3em;
}

.iconColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

/* Diseño de Logo + sus animaciones */
.bordeLogo{
    border-radius: 200px;
    height: 125px;
    margin-left: 30px;
}

#logoMobile{
    display: none;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    &:hover, :focus, :active{
        transform: scale(1.1);
    }
}

/* Diseño Acordeon */
.acordion-colorMod{
    color: #000;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cbe8 74%);
}

@media screen and (max-width: 991px){

    #collapseThree, #collapseTwo, #collapseOne{
        flex-direction: column;
    }

    nav a{
        display: none;
    }

    .parallax{
        height: 100vh;
    }

    #logoMobile{
        display: flex;
        align-items: center;
    }
    
    .bordeLogo{
        height: 250px;
        margin: 0 auto;
    }

    .headerTitulo{
        display: none;
    }
        
    .empresaPar{
        text-align: center;
        width: 100%;
        margin: 0 10em;
    }
   
    .postre{
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width:480px) {

    .productoImg{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .iconContacto{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        row-gap: 2em;
    }
}
